/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&display=swap');

/* asterix wildcard selector to override default browser styles */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/* General styles */
body {
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background-color: #fafafa;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

h1 {
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
    color: #0E1123;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Nav menu */
.navlist {
    line-height: 1.6;
    border-bottom: 2px solid #fafafa;
}

#navmenu {
    list-style: none;
    color: #fafafa;
    text-align: center;
}

/* Nav menu dropdown */
nav {
    position: absolute;
    background-color: #0e112376;
    width: 100%;
    display: none;
    top: 100%;
    padding: 1rem;
}

/* dropdown */
#dropdown:checked~nav {
    display: block;
}

#dropdown {
    display: none;
}

.dropdown-toggle {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

/* Main content */
main {
    /* push down footer */
    flex: 1 0 auto;
    margin-top: 76px;
}

/* Hero image */
#heroimage {
    background: url("../images/henry-fraczek-I7r78aJPkrM-unsplash\ \(1\).jpg") no-repeat center center/cover;
    height: 150px;
    width: 100%;
}

/* footer */
footer {
    background-color: #0E1123;
    text-align: center;
    padding: 0 15px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


footer ul li a {
    color: #fafafa;
    font-size: 150%;
}

/* media query for tablets (768px and larger) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        background-color: #fafafa;
    }

    .navlist {
        border-bottom: 2px solid #0E1123;
    }

    main {
        margin-top: 152px;
    }

    .dropdown-toggle {
        display: none;
    }

    #logo {
        font-size: 70px;
    }

    #navmenu {
        display: flex;
        font-size: 20px;
        color: #0E1123;
        font-weight: 500;
        justify-content: center;
    }

    #navmenu>li {
        padding-right: 2rem;
    }

    #heroimage {
        height: 300px;
    }
}

/* media query for screens larger than 992px */
@media screen and (min-width: 992px) {
    main {
        margin-top: 155px;
    }

    #navmenu a:hover {
        background-color: #0428f548;
    }

    #heroimage {
        height: 600px;
    }
}