/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&display=swap');

/* asterix wildcard selector to override default browser styles */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/* General styles */
body {
    min-height: 200vh;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background-color: #fafafa;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

h1 {
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
    color: #0E1123;
    text-transform: uppercase;
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: inherit;
}
/* Nav menu */
.navlist {
    border-bottom: 2px solid #fafafa;
}

#navmenu {
    list-style: none;
    color: #fafafa;
    text-align: center;
}

/* Nav menu dropdown */
nav {
    position: absolute;
    background-color: #0E1123;
    width: 100%;
    display: none;
    top: 100%;
    padding: 1rem;
}

/* dropdown */
#dropdown:checked~nav {
    display: block;
}

#dropdown {
    display: none; 
}

.dropdown-toggle {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
/* Main content */
main {
    /* To see area delete after */
    background-color: aquamarine;
    /* push down footer */
    flex: 1 0 auto;
}

/* footer */
footer {
    /* to see area delete after */
    background-color: blueviolet;
}